@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Silkscreen&display=swap');

* { font-family: 'Silkscreen', cursive; }

body {
    background: #d6c0ff !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 500ms;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 500px;
    background-color: #ffe3ff !important;
    border: none !important;
    border-radius: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #1c1833;
    font-size: 1.5rem;
    border-radius: 8px 8px 0 0;
    color: #fff;
}

.titulo h3 { font-size: 1.5rem; }

.cardJuego {
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.cardJuego .base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100px;
    background-color: #ff4161;
    border-radius: 8px;
}

.base h1 { font-size: 4rem; color: #111113; }

.card .informacion {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -36px;
    background-color: #ffe3ff;
    border-radius: 0 0 8px 8px;
}

.informacion h1 { color: #111113; font-size: 1.2rem; }

.line {
    width: 100%;
    height: 10px;
    background-color: #1c1833;
    margin-top: -10px;
}

.opcion1 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
}

.tuRespuesta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.tuRespuesta h1 {
    position: absolute;
    top: 50px;
    color: rgb(136, 134, 134);
    font-size: 1.1rem;
}

.tuRespuesta h1 img {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardJuego .base input {
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    background-color: #d6c0ff;
    color: #111113;
    border: 5px solid #1c1833;
    box-shadow: none;
}

.opcion1 .tuRespuesta button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    background-color: #1c1833;
    color: #fff;
}

#Two,
#Three,
#Ford { display: none; }
